/*---- Color palette 

	orange: #F7542E;
	grey1 : #4F4F4F;
	grey2 : #9E9E9E;

*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
/*----[[Global]]-----*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

/*---{styling}----*/
/*---aside---*/
aside header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: black;
}

aside header span {
  color: #F7542E;
  padding: 0;
  margin-right: 0;
}

aside ul {
  list-style-type: none;
}

aside ul li {
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #9E9E9E;
}

aside ul li.active {
  font-weight: bold;
  color: #090F31;
}

/*-- Main --*/
main h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #4F4F4F;
}

main .row .button,
main .row .hover,
main .row .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .row .button label {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 1vh;
  color: #333333;
}

main .row .hover label,
main .row .text label {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-bottom: 1vh;
  color: #828282;
}

main .row button {
  border-radius: 6px;
  border-style: none;
  padding: .5em 1em;
  margin: auto;
  margin-left: 0;
}

main .row.link {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 0;
  color: red;
}

/* default -1- */
.default .button button {
  background: #E0E0E0;
  -webkit-box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.default .hover button {
  background: #AEAEAE;
  -webkit-box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

/* outline -2- */
.outline .button button {
  background: transparent;
  border: 1px solid #3D5AFE;
  color: #3D5AFE;
}

.outline .hover button {
  background: rgba(41, 98, 255, 0.1);
  border: 1px solid #3D5AFE;
  color: #3D5AFE;
}

/* text -3- */
.text .button button {
  background: transparent;
  border: transparent;
  color: #3D5AFE;
}

.text .hover button {
  background: rgba(41, 98, 255, 0.1);
  color: #3D5AFE;
}

/* disableShawdow -4- */
.disableShadow .button button {
  background: #3D5AFE;
  color: #FFFFFF;
}

/* disable -5- */
.disable .button button {
  background: #E0E0E0;
  color: #9E9E9E;
}

.disable .text button {
  background: transparent;
  color: #9E9E9E;
}

/* local_grocery_store -6- */
.local_grocery_store .start button {
  background: #2962FF;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
          box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
  color: #ffffff;
}

.local_grocery_store .end button {
  background: #2962FF;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
          box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
  color: #ffffff;
}

/* sm md lg -7- */
.size button {
  background: #2962FF;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
          box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
  color: white;
}

/*-- Color -8-  */
.color {
  /*default*/
  /*primary*/
  /*secondary*/
  /*danger */
}

.color .default .button button {
  background: #E0E0E0;
  -webkit-box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  color: #3F3F3F;
}

.color .default .hover button {
  background: #AEAEAE;
  -webkit-box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  color: #3F3F3F;
}

.color .primary .button button {
  background: #2962FF;
  -webkit-box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
          box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
  color: #ffffff;
}

.color .primary .hover button {
  background: #0039CB;
  -webkit-box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
          box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
  color: #ffffff;
}

.color .secondary .button button {
  background: #455A64;
  -webkit-box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
          box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
  color: white;
}

.color .secondary .hover button {
  background: #1C313A;
  -webkit-box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
          box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
  color: white;
}

.color .danger .button button {
  background: #D32F2F;
  -webkit-box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
          box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
  color: white;
}

.color .danger .hover button {
  background: #9A0007;
  -webkit-box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
          box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
  color: white;
}

footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #A9A9A9;
}

/*--- [[structure]] ---*/
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vw;
  padding-bottom: 0;
}

aside {
  width: 15vw;
}

aside ul {
  margin-top: 15vh;
  padding-left: 0;
}

aside ul li {
  margin-bottom: 2vh;
}

main {
  width: 85vw;
}

main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4vh;
}

.row:nth-of-type(1) .button {
  width: 12vw;
}

.row:nth-of-type(1) .start {
  width: 17vw;
}

.row:nth-of-type(1) .end {
  width: 25vw;
}

.row:nth-of-type(2) .button {
  width: 12vw;
}

.row:nth-of-type(2) .start {
  width: 17vw;
}

.row:nth-of-type(2) .end {
  width: 25vw;
}

.row:nth-of-type(3) .button {
  width: 12vw;
}

.row:nth-of-type(3) .start {
  width: 17vw;
}

.row:nth-of-type(3) .end {
  width: 25vw;
}

.row:nth-of-type(4) .button {
  width: 12vw;
}

.row:nth-of-type(4) .start {
  width: 17vw;
}

.row:nth-of-type(4) .end {
  width: 25vw;
}

.row:nth-of-type(5) .button {
  width: 12vw;
}

.row:nth-of-type(5) .start {
  width: 17vw;
}

.row:nth-of-type(5) .end {
  width: 25vw;
}

.row:nth-of-type(6) .button {
  width: 12vw;
}

.row:nth-of-type(6) .start {
  width: 17vw;
}

.row:nth-of-type(6) .end {
  width: 25vw;
}

.row.size {
  max-width: 30vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row.size .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row.size button {
  margin: auto;
  margin-left: 0;
}

.row.size .sm button {
  padding: 0.4rem;
}

.row.size .md button {
  padding: .7rem 1rem;
}

.row.size .lg button {
  padding: 1rem 1.5rem;
}

.row.color {
  width: 45vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column .hover label {
  text-align: left !important;
}
/*# sourceMappingURL=styles.css.map */