/*--- Color Palette 

	gray1 : #4F4F4F;
	gray2 : #828282;


*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*--[[[Global]]]--*/
html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	background: #f0f0f0f0;
}


main {
	padding: 1em 17%;
}


/*----- [[Structure ]] ------*/
main {
	display: flex;
	width: 100%;
	margin-top: 1em;
}

main .left {
	width: 35%;
	margin-right: 0.5em;
}

main .right {
	width: 65%;
	margin-left: 0.5em;
}

main .left .item {
	margin-bottom: 1em;
	background: white;
	border-radius: .7em;
	padding: 1.5em;
}

main .right .item {
	margin-bottom: 1em;
	border-radius: .7em;

}
/*------[[header]]------*/
header {
	display: flex;
	width: 100%;
	height: 1em;
}
header img {
	width: 100%;
}

header .line {
	width: 100%;
}
header .line span {
	display: block;
	background: #2A2A57;
	width: 100%;
	height: .8vh;
	margin-bottom: 5px;
	border-radius: 0px;

}

/*------[[profile]]-------*/

.profile .image img {
	width: 100%;
	border-radius: 1em;
}

.profile h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;

	color: #4F4F4F;	
}

.profile h4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

	color: #828282;
}

.profile .details .contact .row {
	display: flex;
}

.profile .details .contact .material-icons.color {
	color: #4F4F4F;
	font-size: 1.3em;
	padding: .2em;
	margin-right: .3em;
}

.profile .details .contact .row span {
	margin-top: 2px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	overflow: hidden;
	color: #4F4F4F;
}

.profile .details .recaps {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

	color: #828282;
}



/*------ Experiences -------*/
.experiences {
	width: 100%;
}

.experiences img {
	margin-top: 1em;
	width: 100%;
}

.experiences .logo {
	width: 30%;
}

.experiences .details {
	width: 70%;
	padding-left: 1em;
}

.experiences h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

	color: #4F4F4F;

}

.experiences .row {
	display: flex;
	margin-bottom: 2em;

}

.experiences .row .details .date {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 17px;

	color: #828282;	

	margin-bottom: .5em;
}

.experiences .row .details .job {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;

	color: #333333;	
	margin-bottom: 1em;
}

.experiences .row .details .description .cible,
.experiences .row .details .description .dots{
	margin-bottom: 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;

	color: #828282;
}

.experiences .row .details .description .show-more {
	font-family: Montserrat;
	font-weight: bold;
	display: block;
	color: #5C94E1;
	font-size: 13px;
	margin: 0;
	padding: 0;
	text-align: right;

	padding-right: 10%;
}

.experiences .row .details .description span.cible {
	display: block;
	height: 2em;
	overflow: hidden;
}

.showContent {
	height: auto !important;
}


/*--- Hobbies ---*/
.hobbies {
	width: 100%;
}

.hobbies h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

	color: #4F4F4F;

	margin-bottom: 1em;
}

.hobbies .row .image img {
	width: 100%;
	border-radius: .7em;
}

.hobbies .row .details h3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;

	color: #333333;

}

.hobbies .row .details h4 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #828282;
}


/*--------- Skills  ---------------*/

.skills {
	display: flex;
	width: 100%;
}

.web,
.others {
	background: #ffffff;
	padding: 1em;
	border-radius: 1em;
	display: inline-table;
}

.web {
	width: 50%;
	margin-right: .5em;
}

.others {
	width: 50%;
	margin-left: .5em;
}

.skill-default .row {
	display: flex;
	margin-bottom: .5em;
}

.skill-default .row .name{
	width: 40%;
	padding: 0
}

.skill-default .row .progress{
	margin-top: .6vh;
	width: 60%;
	height: 1.7vh;
	overflow: hidden;
	background: #e5e5e5e5;
	border-radius: 6px;
}

.skill-default .row .progress .bar {
	position: relative;
	float: left;
	min-width: 1%;
	height: 100%;
	background: cornflowerblue;
}


.skills h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;

	color: #4F4F4F;

	margin-bottom: 1em;
} 

.skills .name {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #4F4F4F;
}



/*---- Projects -----*/
.projects {
	width: 100%;
}

.projects .header {
	background: #FFFFFF;
	padding: 1em;
	border-radius: .7em;
}

.projects .header h1{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

	color: #4F4F4F;

}

/*-list-*/
.projects .web-list .row img {
	width: 100%;
	border-radius: 1em;
}
.projects .web-list .row {
	display: flex;
	background: #ffffff;
	border-radius: .7em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;
	width: 100%;
}

.projects .web-list .details {
	padding: 1em;
	padding-top: 0
}

.projects .web-list .details .language {
	margin-bottom: 1em;

}

.projects .web-list .details .language span {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #4F4F4F;
} 

.projects .web-list .details .title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

	color: #333333;

	margin-bottom: .7em;
}

.projects .web-list .details .description {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;

	color: #828282;
	margin-bottom: 2em;
} 

.projects .web-list .details .buttons {
	display: flex;
}
.projects .web-list .details .buttons .demo {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	background: #5C94E1;
	border-radius: 10px;

	color: #FFFFFF;

	text-decoration: none;

	padding: .5em 1.2em;
	margin-right: .5em;
}

.projects .web-list .details .buttons .demo:hover {
	cursor: pointer;
	background: #5c94e16b;
	color: #5C94E1;
	border: 1px solid #5C94E1;
}

.projects .web-list .details .buttons .code {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

	text-decoration: none;
	background: transparent;
	border-radius: 10px;
	border: 1px solid #5C94E1;
	box-sizing: border-box;

	color: #5C94E1;

	padding: .5em 1.2em;
	margin-left: .5em;
}


.projects .web-list .details .buttons .code:hover {
	cursor: pointer;
	background: #5c94e16b;
	color: white;
	border: 1px solid #5C94E1;
}





/*----------footer --------*/
footer {
	display: flex;
	margin-top: 5vh;
}

.footer {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 2vh;

	border-top: 2px solid #BDBDBD;
	color: #A9A9A9;
	padding-top: 6px;
	padding-left: 8vw;
	padding-right: 8vw;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;

}